{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": 0 //regra para permitir o console.log, console.warn no browser
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}