.mysidebar {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 240px;
    height: 100%;
    color: #e1ffff;
    margin: 0;
    padding: 0;
    list-style: none;
}

.mysidebar > img {
    width: 200px;
    margin: 10px 0;
}

.mysidebar > i {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
}

.mysidebar > li {
    line-height: 35px;
    position: relative;
}

.mysidebar > li:hover {
    background: #4f5b69;
}

.mysidebar > li > a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.mysidebar-body {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #181c20
}

.mysidebar-body > li:hover {
    background-color: #020203
}

.mysidebar-body > li > a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-left: 55px;
}

.mysidebar-icon {
    padding: 0 20px;
}

.margin-left-sidebar {
    margin-left: -200px;
}